<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        人员添加
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/main.css" media="all">
    <!--导入ElementUI样式-->
    <link rel="stylesheet" href="css/index.css">


</head>
<body>

<div class="x-body" id="app">
    <el-form ref="elForm" :model="formData" :rules="rules" size="medium" label-width="100px">
        <el-form-item label="所属小区" prop="communityId">
            <el-select v-model="formData.communityId" placeholder="请选择小区所属" clearable :style="{width: '100%'}">
                <el-option v-for="(item, index) in communityIdOptions" :key="index" :label="item.name"
                           :value="item.id" :disabled="item.disabled"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="所属房产" prop="houseId">
            <el-select v-model="formData.houseId" placeholder="请选择所属房产" clearable :style="{width: '100%'}">
                <el-option v-for="(item, index) in houseIdOptions" :key="index" :label="item.label"
                           :value="item.value" :disabled="item.disabled"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="成员名称" prop="name">
            <el-input v-model="formData.name" placeholder="请输入成员名称" clearable :style="{width: '100%'}"></el-input>
        </el-form-item>
        <el-form-item label="身份证号" prop="idcard">
            <el-input v-model="formData.idcard" placeholder="请输入身份证号" clearable :style="{width: '100%'}">
            </el-input>
        </el-form-item>
        <el-form-item label="出生日期" prop="birthday">
            <el-date-picker v-model="formData.birthday" format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                            :style="{width: '100%'}" placeholder="请选择出生日期" clearable></el-date-picker>
        </el-form-item>
        <el-form-item label="联系方式" prop="telephone">
            <el-input v-model="formData.telephone" placeholder="请输入联系方式" clearable :style="{width: '100%'}">
            </el-input>
        </el-form-item>
        <el-form-item label="职业" prop="profession">
            <el-input v-model="formData.profession" placeholder="请输入职业" clearable :style="{width: '100%'}">
            </el-input>
        </el-form-item>
        <el-form-item label="性别" prop="sex">
            <el-radio-group v-model="formData.sex" size="medium">
                <el-radio v-for="(item, index) in sexOptions" :key="index" :label="item.value"
                          :disabled="item.disabled">{{item.label}}
                </el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="成员类型" prop="type">
            <el-radio-group v-model="formData.type" size="medium">
                <el-radio v-for="(item, index) in typeOptions" :key="index" :label="item.value"
                          :disabled="item.disabled">{{item.label}}
                </el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="成员照片" prop="picture" required>
            <el-upload ref="picture" :file-list="picturefileList" :action="pictureAction"
                       :before-upload="pictureBeforeUpload" accept="image/*" name="picture">
                <el-button size="small" type="primary" icon="el-icon-upload">点击上传</el-button>
            </el-upload>
        </el-form-item>
        <el-form-item label="备注" prop="remark">
            <el-input v-model="formData.remark" type="textarea" placeholder="请输入备注"
                      :autosize="{minRows: 4, maxRows: 4}" :style="{width: '100%'}"></el-input>
        </el-form-item>
        <el-form-item size="large">
            <el-button type="primary" @click="submitForm">提交</el-button>
            <el-button @click="resetForm">重置</el-button>
        </el-form-item>
    </el-form>
</div>

<style>
    .el-upload__tip {
        line-height: 1.2;
    }

</style>

<script src="lib/layui/layui.js" charset="utf-8"></script>
<script src="js/x-layui.js" charset="utf-8"></script>
<!--Vue-->
<script src="js/vue.js" charset="utf-8"></script>
<!--ElementUI-->
<script src="js/index.js" charset="utf-8"></script>
<!--axios-->
<script src="js/axios.js" charset="utf-8"></script>
<script>

    var app = new Vue({
        el: "#app",
        data: {
            formData: {
                "id":null,
                "communityId": undefined,
                "houseId": undefined,
                "name": undefined,
                "idcard": undefined,
                "birthday": null,
                "telephone": undefined,
                "profession": undefined,
                "sex": 0,
                "type": 0,
                "picture": null,
                "remark": undefined,
            },
            rules: {
                communityId: [{
                    required: true,
                    message: '请选择小区所属',
                    trigger: 'change'
                }],
                houseId: [{
                    required: true,
                    message: '请选择所属房产',
                    trigger: 'change'
                }],
                name: [{
                    required: true,
                    message: '请输入成员名称',
                    trigger: 'blur'
                }],
                idcard: [{
                    required: true,
                    message: '请输入身份证号',
                    trigger: 'blur'
                }],
                birthday: [{
                    required: true,
                    message: '请选择出生日期',
                    trigger: 'change'
                }],
                telephone: [{
                    required: true,
                    message: '请输入联系方式',
                    trigger: 'blur'
                }],
                profession: [{
                    required: true,
                    message: '请输入职业',
                    trigger: 'blur'
                }],
                sex: [{
                    required: true,
                    message: '性别不能为空',
                    trigger: 'change'
                }],
                type: [{
                    required: true,
                    message: '成员类型不能为空',
                    trigger: 'change'
                }],
                remark: [{
                    required: true,
                    message: '请输入备注',
                    trigger: 'blur'
                }],
            },
            pictureAction: '上传地址',
            picturefileList: [],
            communityIdOptions: [{
                "name": "选项一",
                "id": 1
            }, {
                "name": "选项二",
                "id": 2
            }],
            houseIdOptions: [{
                "label": "选项一",
                "value": 1
            }, {
                "label": "选项二",
                "value": 2
            }],
            sexOptions: [{
                "label": "男",
                "value": "0"
            }, {
                "label": "女",
                "value": "1"
            }],
            typeOptions: [{
                "label": "房主",
                "value": "0"
            }, {
                "label": "租客",
                "value": "1"
            }],

        },
        methods: {
            submitForm() {

            },
            resetForm() {
                this.$refs['elForm'].resetFields()
            },
            /*关闭弹出框口*/
            x_admin_close() {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            },
            getQueryString(name) {
                let reg = `(^|&)${name}=([^&]*)(&|$)`
                let r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            },
            findById() {
                axios.get("/owner/findById?id=" + this.formData.id).then((res) => {
                    this.formData = res.data.data;
                });

            },
            pictureBeforeUpload(file) {
                let isRightSize = file.size / 1024 / 1024 < 2
                if (!isRightSize) {
                    this.$message.error('文件大小超过 2MB')
                }
                let isAccept = new RegExp('image/*').test(file.type)
                if (!isAccept) {
                    this.$message.error('应该选择image/*类型的文件')
                }
                return isRightSize && isAccept
            },
            /*查询所有小区名称*/
            findAllComm() {
                axios.get("/community/findAllComm").then((res) => {
                    this.communityIdOptions = res.data.data;
                });
            },
        },
        created: function () {
            layui.use(['laydate', 'element', 'layer', 'form'], function () {
                $ = layui.jquery;//jquery
                lement = layui.element();//面包导航
                layer = layui.layer;//弹出层
                form = layui.form();
                laydate = layui.laydate;//日期插件
            });
            //获取父页面传递参数
            this.formData.id = this.getQueryString("id");
            //根据ID获取对象，进行数据回显
            if (this.formData.id != null && this.formData.id != '') {
                this.findById();
            }
            /*查询所有小区名称*/
            this.findAllComm();
        },

    })
</script>

</body>
</html>
